#logo {
    color: #f6f1e9;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Atomic Age', cursive;
    text-align: center;
    text-transform: uppercase;
    background: rgb(2,0,36);
    background: linear-gradient(172deg, rgba(2,0,36,1) 0%, rgba(37,121,211,1) 70%, rgba(0,212,255,1) 100%);
    


    /* 3D Styling */
    text-shadow: 1px 1px 1px #A7C7E7,
        1px 2px 1px #A7C7E7,
        1px 3px 1px #A7C7E7,
        1px 4px 1px #A7C7E7,
        1px 5px 1px #A7C7E7,
        1px 6px 1px #A7C7E7;
}



/* #jukebox {
    border: 20px solid #f6c48a;
    border-radius: 15% 15% 10px 10px;
    font-family: 'Atomic Age', cursive;
    margin: 5%;
} */